<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysNewmessageMapper">
    
    <resultMap type="SysNewmessage" id="SysNewmessageResult">
        <result property="id"    column="id"    />
        <result property="名称"    column="名称"    />
        <result property="内容"    column="内容"    />
        <result property="链接"    column="链接"    />
    </resultMap>

    <sql id="selectSysNewmessageVo">
        select id, 名称, 内容, 链接 from sys_newmessage
    </sql>

    <select id="selectSysNewmessageList" parameterType="SysNewmessage" resultMap="SysNewmessageResult">
        <include refid="selectSysNewmessageVo"/>
        <where>  
            <if test="名称 != null  and 名称 != ''"> and 名称 = #{名称}</if>
            <if test="内容 != null  and 内容 != ''"> and 内容 = #{内容}</if>
            <if test="链接 != null  and 链接 != ''"> and 链接 = #{链接}</if>
        </where>
    </select>
    
    <select id="selectSysNewmessageById" parameterType="Long" resultMap="SysNewmessageResult">
        <include refid="selectSysNewmessageVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysNewmessage" parameterType="SysNewmessage" useGeneratedKeys="true" keyProperty="id">
        insert into sys_newmessage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="名称 != null  and 名称 != ''">名称,</if>
            <if test="内容 != null  and 内容 != ''">内容,</if>
            <if test="链接 != null  and 链接 != ''">链接,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="名称 != null  and 名称 != ''">#{名称},</if>
            <if test="内容 != null  and 内容 != ''">#{内容},</if>
            <if test="链接 != null  and 链接 != ''">#{链接},</if>
         </trim>
    </insert>

    <update id="updateSysNewmessage" parameterType="SysNewmessage">
        update sys_newmessage
        <trim prefix="SET" suffixOverrides=",">
            <if test="名称 != null  and 名称 != ''">名称 = #{名称},</if>
            <if test="内容 != null  and 内容 != ''">内容 = #{内容},</if>
            <if test="链接 != null  and 链接 != ''">链接 = #{链接},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysNewmessageById" parameterType="Long">
        delete from sys_newmessage where id = #{id}
    </delete>

    <delete id="deleteSysNewmessageByIds" parameterType="String">
        delete from sys_newmessage where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>